.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    height: 70px;
    width: 70px;
    color: #000000;

}

.equal {
    width: 145px;
    background-color: #5ee045;
}
#screen{
    position: absolute;
   top: 28%;
}
.screencenter{
   
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}
